.fatex-tabs-navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0;
    line-height: 1.25;
    font-size: 13px;
    font-weight: bold;
    color: $fatex-primary-color;
    text-transform: uppercase;
    border-top: none;
    border-bottom: 2px solid $fatex-primary-color;

    &__item {
        position: relative;
        padding: 5px 20px 5px 15px;
        color: $fatex-primary-color;
        text-shadow: none;

        &.active,
        &:hover {
            background: $fatex-primary-color;
            color: var(--fatex-light-text-color, $light-text-color);
        }

        &::after {
            @include cutout-top-right;
        }
    }
}

.fatex-vertical-tabs-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    line-height: 1.25;
    border: none;
    padding: $component-padding * 2 0;

    &__item {
        color: $fatex-primary-color;
        text-shadow: none;
        padding: $component-padding;
        text-transform: uppercase;
        margin-bottom: $component-padding * 2;
        font-size: 13px;
        opacity: 0.3;
        width: 175px;
        border: 1px solid transparent;
        transition: opacity 0.3s, background-color 0s;

        &.active,
        &:hover {
            font-weight: bold;
            background: $sheet-background;
            border: 1px solid $fatex-primary-color;
            border-right: 0;
            opacity: 1;
            z-index: 1;
            box-shadow: 0 3px 0 0 $fatex-primary-color;
        }
    }
}
